@font-face {
    font-family: 'KG Teacher Braddy';
    src: url(img/KGTeacherBrady.ttf);

    font-family: 'Astonpoliz';
    src: url(img/Astonpoliz.ttf);
}

/* Cuando vayan a cambiar el tamaño de algo usen porcentajes en vez de pixeles, para que se adapte mejor en el telefono */

body {
    font-family: 'Astonpoliz';
    font-size: 130%;
    background-color: rgb(170, 169, 169);
}

h1 {
    text-align: center;
    /* width: 300px;
    padding: 25px;
    margin: 50px auto;
    box-sizing: border-box; */
}
h2 {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.integrantes { 
    text-align: center;
}

/* Es una clase para estilizar todo el codigo html mostrado en la pagina. Usar: &lt;etiqueta&gt;
para escribir las etiquetas*/
.code {
    background-color: #666666; /* Fondo gris */
    padding: 2px 4px; /* Espaciado interno */
    font-family: monospace; /* Fuente monoespaciada */
    border-radius: 3px; /* Bordes redondeados */
    color: white;
}

img{
    max-width: 100;
    height: auto;
    display: block;
}

p {
    margin-bottom: 25px; /* Espacio entre párrafos */
    line-height: 1.6;     /* Espacio entre líneas */
    color: #000000;         /* Color suave para evitar fatiga */
}
