@font-face {
    font-family: 'KG Teacher Braddy';
    src: url(img/KGTeacherBrady.ttf);

    font-family: 'Astonpoliz';
    src: url(img/Astonpoliz.ttf);
}

body {
    font-family: 'Astonpoliz';
    font-size: 20px;
    width: 100;
}

h1 {
    text-align: center;
    /* width: 300px;
    padding: 25px;
    margin: 50px auto;
    box-sizing: border-box; */
}
h2 {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.integrantes { 
    text-align: center;
}

.code {
    background-color: #666666; /* Fondo gris */
    padding: 2px 4px; /* Espaciado interno */
    font-family: monospace; /* Fuente monoespaciada */
    border-radius: 3px; /* Bordes redondeados */
    color: white;
}

img{
    width: 100;
    height: auto;
    display: block;
}

